<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fly.scan">

    <application>

        <activity
            android:name=".TestScanActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />

    </application>

</manifest>
